/* Sibebar menu on status closed */
.side-menu_close {
	height: 100%;
	background-color: #DFE2EE;
	/* width: 5vw; */
	transition: ease-in .5s all;
}

/* Sibebar menu on status opened */
.side-menu_open{
	height: 100%;
	position: relative;
	background-color: #DFE2EE;
	transition: ease-in .5s all;
}

div[class*='side-menu'] ul {
	list-style: none;
	padding: 0px;
	text-align: center;
	margin: 0px;
}

.side-menu-logo {
	height: 8vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

div[class*='side-menu'] ul li:not(.side-menu-logo) {
	display: flex;
}
div[class*='side-menu'] ul li:not(.side-menu-logo):hover {
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 5%;
}

div[class*='side-menu_open'] ul li:not(.side-menu-logo):hover span {
	background-color: transparent;
	/* border-radius: 5%; */
}

div[class*='side-menu'] ul li span:nth-child(2) {
	font-size: 15px;
}
